<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single-Project</title>
</head>
<body>
    {% extends 'main.html' %}
    
    {% block content %}

    *** Single-Project ***<br><br>
    <!--<i><b>Project.No: {{project_obj.id}}</b></i><br>-->
    <u>Project.Title: {{project_obj.title}}</u><br>
    <hr>
    {% for tag in project_obj.tags.all %}
        <!-- <span style="border:1 px solid black;">{{tag}}</span><br> -->
        <span style="border: 3px solid blue">{{tag}}</span>
    {% endfor %}
    <br><br>
    Description: {{project_obj.description}}<br>

    {% endblock content %}
</body>
</html>